/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: solid 1px #fff;
    float: left;
    cursor: pointer;
    padding: 14px 7px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab_ano_mes {
	display: inline-block;
	background-color: green;
	color: white;
	padding: 3px;
	margin-bottom: 10px;
	width: 28px;
	height: 30px;
}
.tab_ano{
	text-align: center;
	font-size: 8px;
	margin-bottom: -1px;
	margin-top: -1px;
}
.tab_mes{
	font-weight: bold;
	text-align: center;
	margin-bottom: -1px;
	margin-top: -1px;
}
.data > p {
    padding: 5px;
    color: white;
    font-weight: bold;
}
.oferta > p {
    padding: 5px;
    color: white;
    display: inline-block;
}
.cliente > p {
	padding: 5px;
	color: white;
}
.data {
	background-color: rgb(255,127,39);
	border: solid 1px #c3c3c3;
	width: 400px;
	height: 50px;
}
.oferta {
	background-color: blue;
    border: solid 1px #c3c3c3;
    display: none;
    width: 380px;
	height: 50px;
	margin-left: 20px;
}
.cliente {
	background-color: purple;
    border: solid 1px #c3c3c3;
	display: none;
	width: 360px;
	height: 50px;
	margin-left: 40px;
}
