/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width:872px;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: solid 1px #fff;
    float: left;
    cursor: pointer;
    padding: 14px 7px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(255,127,39);
    color: white;
}
.tab button.active .tab_mes {

}
.tab .tem_algo{
	background-color: rgb(255,200,150);
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 848px;
}
.tabcontentnull {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 848px;
    background-color: blue;
}
.tablinks{
	width: 45px;
}
#tab_todos{
	width: auto;
}
.tab_ano{
	text-align: center;
	font-size: 8px;
	margin-bottom: -1px;
	margin-top: -1px;
}
.tab_mes{
	text-align: center;
	margin-bottom: -1px;
	margin-top: -1px;
}
.data > p, .tabcontentnull > p {
    padding: 5px;
    color: white;
}
.oferta > p {
    padding: 5px;
    color: white;
    display: inline-block;
}
.cliente > p {
	padding: 5px;
	color: white;
}
.data {
	background-color: rgb(255,127,39);
	border: solid 1px #c3c3c3;
	width: 848px;
	height: 50px;
}
.oferta {
	background-color: blue;
    border: solid 1px #c3c3c3;
    display: none;
    width: 828px;
	height: 50px;
	margin-left: 20px;
}
.cliente {
	background-color: purple;
    border: solid 1px #c3c3c3;
	display: none;
	width: 808px;
	height: 50px;
	margin-left: 40px;
}
